<h2>Stupid Coaching</h2>
<div class="mycard">
<p><%= @answer %></p>
<p> - You </p>
</div>
<div class="mycard">
<p><%= @reply %></p>
<p> - Your Coach </p>
</div>

<%= link_to "Ask a new question", ask_path %>
